<form action="/new" method="POST" class="card bg-dark text-light">
    <div class="card-body p-4">
        <div class="md-3">
            <label for="fullname"> Write your fullname</label>
            <input 
              type="text" 
              name="fullname" 
              placeholder="Write you Name"
              class="form-control rounded-0 bg-dark border-0 text-white" 
            />
        </div>
        <div class="mb-3">
            <label for="email"> Write your email</label>
            <input 
              type="text" 
              name="email" 
              placeholder="Write you Email"
              class="form-control rounded-0 bg-dark border-0 text-white" 
            />
        </div>
        <div class="mb-3">
            <label for="phone"> Write your phone</label>
            <input 
              type="text" 
              name="phone" 
              placeholder="Write you phone"
              class="form-control rounded-0 bg-dark border-0 text-white" 
            />
        </div>
    </div>

    <button class="btn btn-primary">Save</button>
</form>