<!--extends hace referencia que que este archivo hereda del archivo layout.html-->
{% extends 'layout.html' %}

<!--lo que esta dentro del block se inyecta en el layout.html-->
{% block content %}

    <!--este fragmento de codigo pregunta si la funcion fash ha guardado algun string
     y oprefunta si es true, entonces recorrelo y mnuestra el mensaje por pantalla-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

            
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>




            {% endfor %}
        {% endif %}
    {% endwith %}    

    <div class="row">
        <div class="col-md-5">
            <!--incrusta codigo de archivo _contactForm.html-->
            {% include 'partials/_contactForm.html' %}

        </div>

        <div class="col-md-7">
            
                {% for contact in contacts%}
                <div class="card mb-1 text-white bg-dark">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5>{{contact.fullname}}</h5>
                            <div>
                            <!--La funcion url_for de flask, me permites en vez de 
                            ir a un endpotin, dirigirme directamente a una funcion, en este caso contacts es el blueprint y 
                            update es el nombre de la funcion, quedando url_for'contacts.update', sino se puede hacer directamente a un endpoint si lo tengo
                            como /delete  -->
                            <a href="{{ url_for('contacts.update', id=contact.id) }}" class="btn bg-black btn-sm text-white rounded-0">update</a>
                            <a href="{{ url_for('contacts.delete', id=contact.id) }}" class="btn btn-danger btn-sm rounded-0">delete</a>
                            </div>
                        </div>
                        
                    <p>{{contact.email}}</p>
                    <p>{{contact.phone}}</p>

                    </div>
                    
                </div>
        
        
                {% endfor %}
            

        </div>
    </div>

    
    

{% endblock %}
